@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

.postContent {
	font-family: Source Sans Pro;
	font-style: bold;
	font-weight: normal;
	font-size: 34px;
	line-height: 44px;
	margin-bottom: 0.2em;
}

.postMeta {
	display: flex;
	list-style: none;
	padding: 0;
	justify-content: space-between;
	width: 50%;
}

.postMetaData {
	display: flex;
	align-items: center;
	margin-top: 0.2em;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 32px;
	margin-right: 0.1em;
	svg {
		font-size: 0.85em;
		margin-right: 0.3em;
	}
}
